# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment directories
venv/
.env/
ENV/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/
